<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://78.46.223.31:5432/cardealer</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sIE2l0BTNH9NkiFbtScrx7baM9m7JrTIgGUA0cRWoW4IJp6R8vMgSKlxFT7slo1S</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Hibernate config -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Echo all executed SQL to stdout (remove or comment out this line to hide SQL) -->
        <property name="hibernate.show_sql">false</property>

        <!-- Mapped entity classes -->
        <mapping class="com.car.dealer.model.Car"/>
    </session-factory>
</hibernate-configuration>
